div#poll {
  width: 80%;
}
div#poll div.info {
  margin: 12px 12px;
  padding: 0 12px 0 12px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 4px -1px rgba(12, 12, 12, 0.3);
  font-size: 16px;
}
div#poll div.item > div.subject {
  width: 200px;
  height: 200px;
  padding: 12px 12px;
  margin: 12px 12px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 4px -1px rgba(12, 12, 12, 0.3);
  float: left;
  cursor: pointer;
}
div#poll div.item > div.subject > p {
  word-break: break-all;
}
div#poll div.item > div.subject:hover {
  box-shadow: 0px 1px 6px -1px rgba(12, 12, 12, 0.6);
}
div#poll div.item > div.body-container {
  padding: 0 12px;
}
div#poll div.item > div.body-container > div.body {
  width: 100%;
  padding: 12px 12px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 4px -1px rgba(12, 12, 12, 0.3);
  float: left;
  display: none;
  box-sizing: border-box;
}
div#poll div.item > div.body-container > div.body > p {
  word-break: break-all;
}
div#poll div.item.active > div.body-container > div.body {
  display: block;
}
