@import "mask-inc";

div#qa {
  width: 80%;
  margin-top: 16px;
  margin-bottom: 60px;

  div.item {
	width: 80%;
	margin-bottom: 30px;
	padding: 8px 16px 8px 40px;
	background-color: @white;
	color: #724938;
	border-radius: 10px;
	position: relative;
	box-shadow: 0px 1px 4px -1px fade(@black,30%);

	& > div.order {
	  position: absolute;
	  top: 3px;
	  left: 10px;
	}
	& > p.question:before {
	  content: "Q : ";
	}
	& > p.answer:before {
	  content: "A : ";
	}

	&:nth-child(odd):after {
	  content: "";
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 32px 32px 0 0;
	  border-color: @white transparent transparent transparent;
	  position: absolute;
	  left: 30px;
	  bottom: -30px;
	  display: block;
	}
	&:nth-child(even) {
	  margin-left: 60px;
	}
	&:nth-child(even):after {
	  content: "";
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 0px 32px 32px 0;
	  border-color: transparent @white transparent transparent;
	  position: absolute;
	  right: 30px;
	  bottom: -30px;
	  display: block;
	}
  }
}
