@import "mask-inc";

div#req {
    width: 80%;
    margin-top: 16px;
    margin-bottom: 30px;

    div.intro {
	div.head {
	    font-size: 96px;
	    line-height: 75px;
	    color: @white;
	}
	div.body {
	    padding: 24px 24px;
	    background-color: @white;
	    font-size: @fs-md;

	    & > div{
		width: 62%;
		height: 30px;
		padding: 6px 6px;
		color: @white;
		background-color: #F6C555;
		font-size: @fs-lg;
	    }
	    & > p {
		padding-left: 30px;
	    }
	}
    }

    div.req {
	padding: @gutter * 2 @gutter * 2;
	background-color: @white;
	text-align: center;

	button {
	    width: 180px;
	    height: 120px;
	    margin-left: @gutter * 2;
	    font-size: @fs-xg;
	}
    }
}
div#reqlang,div#reqalg {
    width: 80%;
    padding: @gutter * 2 @gutter * 2;
    background-color: @white;

    div.prepro > div {
	margin-bottom: @gutter * 2;
    }
    div.prepro,div.checkmail,div.verify,div.data,div.done {
	display: none;
    }
    div.data {
	textarea {
	    width: 100%;
	    margin-bottom: @gutter * 4;
	    display: block;
	}
    }
}
