HOST = 'sprout.tw'
LISTEN_PORT = 7122

DEBUG = True

DB_HOST = '127.0.0.1'
DB_NAME = 'database'
DB_USER = 'user'
DB_PASSWD = '1234'

SMTP_HOST = 'smtp.gmail.com'
SMTP_USER = 'sprout@csie.ntu.edu.tw'
SMTP_PASSWD = '1234'
SMTP_SENDER = '2017  資訊之芽工作團隊'

GOOGLE_SPREAD_SHEET_ID = '1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms'
GOOGLE_APPLICATION_NAME = 'Google Sheets API Python Quickstart'
GOOGLE_SCOPES = 'https://www.googleapis.com/auth/spreadsheets'
GOOGLE_CLIENT_SECRET_FILE = 'client_secret.json'
GOOGLE_REFRESH_TIME = 30

SECRET_KEY = '7122'

PRETEST_HOST = 'pretest.sprout.tw'
PRETEST_SSO_LOGIN_PASSWORD = 'SSO_PASS_XXXXXXXXXXXXXX'
PRETEST_THRESHOLD = 300.0
ENTRANCE_HOST = 'entrance.sprout.tw'
ENTRANCE_SSO_LOGIN_PASSWORD = 'SSO_PASS_XXXXXXXXXXXXXX'

from datetime import datetime
DEADLINE = datetime(2017, 1, 15)

