HOST = 'regweb.azure.sprout.tw'

DB_HOST = '127.0.0.1'
DB_NAME = 'database'
DB_USER = 'user'
DB_PASSWD = '1234'

SMTP_HOST = 'smtp.gmail.com'
SMTP_USER = 'user@gmail.com'
SMTP_PASSWD = '1234'
SMTP_SENDER = 'Sender'

